.main{
    flex-wrap: wrap;
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.img{
padding: 15px 15px;
}
.wrapper{
    text-align: center;
}
.footer {
    width: 1540px;
    margin: auto;
    padding-top: 380px;
}
img{
    width: 100%;
}
.bigimg{
    width: 30%;
}
