.main{
    flex-wrap: wrap;
    width: 1100px;
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 100%;

}
.img{
padding: 15px 15px;
}
.wrapper{
    text-align: center;
}
.footer {
    width: 1540px;
    margin: auto;
    padding-top: 380px;
    max-width: 100%;

}
.bigimg{
    padding: 20px;
    max-width: 100%;

}
.comment{
    display: flex;
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 9px 4px rgba(35, 60, 80, 0.4);
    max-width: 100%;
    position: fixed;
    background-color: white;
    top: 30%;
    left: 33%;
    padding: 0px 20px;
    visibility: hidden;
    border-radius: 4px;
}
.content{
    display: flex;
}
.active {
    visibility: visible;
}
.contentMain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    visibility: hidden;
}
.comments{
    padding: 20px 0px;
    flex: 1;
}
.data{
    padding: 20px 0px;
}
.com{
    padding: 20px 0px;
}
input{
    border: 1px solid grey;
    width: 300px;
    height: 25px;
    max-width: 100%;

}
.button{
    background-color: cornflowerblue;
    text-align: center;
    width: 305px;
    margin: 20px 0px;
    max-width: 100%;

}
.btn{
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
}
.bg{
    width: 305px;
    max-width: 100%;
}
.commentUsers{
    max-width: 100%;
    display: flex;

}
.ext{
    margin-left: 215%;
    font-size: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}
.exit {
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 0px;
    left:620px;
    transition: .3s;
}
body{
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 450px) {
    .comment{
        width: 90%;
        justify-content: center;
        margin: auto;
        position: absolute;
        top: 400px;
        left: 0;
    }
    .bg{
        width: 60%;
    }
    .commentUsers{
        margin-right: 60px;
    }
    .exit{
        margin: 0;
        position: absolute;
        left: 350px;
    }
    .data{
        right:110px;
        bottom: 10px;
        position: relative;
    }
    .comments{
        right:110px;
        bottom: 10px;
        position: relative;
    }
    .ext{
        left:30px;
        position: relative;
    }

}

